@using DigitalStore.Models
@model Customer

<div id="buyProduct" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Place your order now</h2>   
                <button type="button" class="close" data-dismiss="modal">X</button>     
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Buy" onsubmit="return jQueryAjaxPost(this);">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Timestamp" />
                    <p>Please enter your contact information</p>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MidName"></label>
                        <input asp-for="MidName" class = "form-control" />
                        <span asp-validation-for="MidName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class = "form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class = "form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                       <label asp-for="City.CityName"></label>
                        <select asp-for="CityId" asp-items="ViewBag.cities" class = "form-control"></select>
                        @*<span asp-validation-for="City.CityName" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class = "form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @*<select asp-for="City" asp-items="ViewBag.cities"></select>*@
                    <br/>
                    <div class="text-center">
                        <button type="submit" value="Submit" class="btn btn-primary btn-block">Process the order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>