.bblock {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}

.wrapp {
    display: table;
    border-spacing: 20px 20px;
    background-color: darkgray;
}

.navv {
    display: inline-block; /*Задаем блочно-строчное отображение*/
    width: 180px; /*задаем ширину блока*/
    background: dodgerblue;
}


ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */

    text-align: center;
}

    ul.hr li {
        position: relative;

        margin: 15px;
        display: inline-block; /* Отображать как строчный элемент */
        margin-right: 15px; /* Отступ слева */
        border: 1px solid #000; /* Рамка вокруг текста */
        padding: 3px; /* Поля вокруг текста */

        width: 300px;
        height: 300px;
        vertical-align: top;
    }


.myButtons {
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 300px;
    box-sizing: border-box;
}

.mainPicture {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 835px;
}

.display-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -17px;
    margin-left: -100px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: url(pictures/sbfkjx6g5qm8sjxu-1.jpg);
    background-size: cover;
    /*----------------*/
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#onlineStore {
    position: absolute;
    width: 354px;
    height: 56px;
    margin-left: 100px;
    margin-top: 125px;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
}

#digitalAppliances {
    position: relative;
    width: 343px;
    height: 180px;
    padding-top: 300px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;
    text-align: center;
    color: #ffffff;
}

#weHave {
    
    position: relative;
    width: -513px;
    height: 152px;
    padding-left: 65%;
    padding-top: 100px;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
}