/*hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0
}

ol, ul {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6
}

li {
    font-size: inherit
}

ul {
    margin-left: 1.25rem;
    list-style-type: disc
}

ol {
    margin-left: 1.25rem
}

    ol ol, ol ul, ul ol, ul ul {
        margin-left: 1.25rem;
        margin-bottom: 0
    }

.accordion-menu li {
    width: 100%
}

.accordion-menu a {
    padding: .7rem 1rem
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

[data-whatinput=mouse] .menu li {
    outline: 0
}

menu .button, .menu a {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: .7rem 1rem
}

.menu.nested {
    margin-right: 0;
    margin-left: 1rem
}

.menu .is-active > a {
    background: #6c6db8;
    color: #000
}

.menu .active > a {
    background: #6c6db8;
    color: #000
}

.menu.align-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

#AdminTree span {
    padding-left: .2rem
}

#AdminTree a:after {
    content: none
}

.admin-tree-menu {
    overflow-x: auto
}

.menu .is-active > a {
    background-color: #e1e1e1
}

.home_page .p-card.grid-style:nth-child(4n+4) {
    border-right: none;
}

@media (max-width: 1549.98px) and (min-width: 1235px) .home_page .item.grid-style, .home_page .p-card.grid-style {
    width: calc(100%/4)!important;
}

@media (max-width: 1549.98px) and (min-width: 1235px) .p-card.grid-style {
    border-bottom: 1px solid #ededed;
}

@media (max-width: 1549.98px) and (min-width: 1235px) .p-card.grid-style {
    width: calc(100%/3);
}

@media (min-width: 992px) .p-card.grid-style {
    border-right: 1px solid #ededed;
}

.p-card.grid-style {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.p-card {
    width: 100%;
    align-items: normal;
    transition: all .4s ease-out;
}

.grid-style {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.relative {
    position: relative !important;
}

.bg-white {
    background: #fff;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.bg-white {
    background: var(--white);
}

.flex {
    display: flex;
}

body * {
    font-family: var(--main-font);
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

* {
    outline: 0;
}

user agent stylesheet
div {
    display: block;
}

.products-conteiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
}*/