ul.pagination {
    display: inline-block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a{

            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            display: block;
        }

        ul.pagination li.active a {
            background-color: #6aa6f2;
            color: white;
        }

        ul.pagination li a:hover:not(:active) {
            background-color: #ddd;
        }
