
.sidenavmenu a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #000f;
    display: block;
    transition: 0.3s;
}

.sidenavmenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #b9deed, #efefef);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavmenu a:hover, .offcanavs a:focus {
        color: #2fb7ce;
}

.sidenavmenu .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 32px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenavmenu {padding-top: 15px;}
    .sidenavmenu a {font-size: 18px;}
}