@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/Theme.css"/>
    <link rel="stylesheet" href="~/css/sideMenu.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <span style="font-size: 30px; cursor: pointer" onclick="openNavmenu()"><i class="bi bi-list">Menu</i></span>
        </div>
    </nav>
    <div class="sidenavmenu" id="adminSidenavnemu">
        <a class="closebtn" href="#" onclick="closeNavmenu()">X</a>
        <br />
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:220px">
            Categories
        </a>
        <a asp-controller="City" asp-action="Index" class="btn btn-secondary" style="width:220px">
            Cities
        </a>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary" style="width:220px">
            Customers
        </a>
        <a asp-controller="Order" asp-action="Index" class="btn btn-secondary" style="width:220px">
            Orders
        </a>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:220px">
            Products
        </a>
        <a asp-controller="ProductOrder" asp-action="Index" class="btn btn-secondary" style="width:220px">
            ProductOrders
        </a>
    </div>

    <script type="text/javascript" src="~/js/sideMenu.js"></script>
</body>