@using DigitalStore.Models
@using DigitalStore.WebUI.ExtensionClasses
@model Order

@{
    Layout = "../Shared/_PersonLayout";
}

<div class="container p-3">
    <form method="post" enctype="multipart/form-data">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit Order</h2>
                <hr/>
            </div>
            <input type="hidden" asp-for="Timestamp"/>
            <div class="mb-3">
                <label asp-for="Id"></label>
                <br/>
                <input asp-for="Id" class="form-contorl" readonly/>
            <div class="mb-3">
                <p></><label asp-for="OrderDate"></label></p>
                <input asp-for="OrderDate" class="form-contorl"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <p><label asp-for="DeliveryDate"></label></p>
                <input asp-for="DeliveryDate" class="form-contorl"/>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                   <label asp-for="Customer.LastName"></label>
                   <select asp-for="CustomerId" asp-items="ViewBag.customers" class = "form-control"></select>        
             </div>
             <div class="form-group">
                   <label asp-for="City.CityName"></label>
                   <select asp-for="CityId" asp-items="ViewBag.cities" class = "form-control"></select>        
             </div>
              <br />
            <button type="submit" class="btn btn-primary" style="width:150px">
                Update
            </button>
            <a asp-controller="Order" asp-action="OrderList" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}